body{
  background-color: #fff;
}

.jumbo-header{
  margin-top: 50px;
}

.login-container{
 	margin-top: -180px;
}

.form-group{
	color: black;
}
.quotes{
	margin-top: 0px;
}
.mission-vision{
	margin-right: 450px;
}
/* pincode */

/* end pincode */
/* search css */


/* end search css */